<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Produkt</title>
</head>
<body>

<form action="/dodaj" method="post" th:object="${article}">
    <div class="mb-3 row">
        <label for="articleName" class="col-sm-2 col-form-label">Nazwa Produktu</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext form-control-lg" id="articleName" placeholder="Np. Mleko" th:field="*{articleName}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Cena</label>
        <div class="col-sm-10">
        <input type="number" class="form-control form-control-lg" id="price" th:field="*{price}">
        </div>
    </div>
    <select class="form-select form-control-lg" id="articleCategory" th:field="*{articleCategory}">
        <option value="default" selected disabled>Wybierz Kategorię...</option>
        <option value="FOOD">Artykuły spożywcze</option>
        <option value="AGD">Artykuły Gospodarstwa Domowego</option>
        <option value="OTHERS">Inna kategoria produktu</option>
    </select></br>
    <input type="submit" value="dodaj" class="btn btn-primary">
</form>


    <div class="footer">
        <a class="btn btn-primary" href="/" role="button">Powrót do strony głównej</a>
    </div>
</body>
</html>